#btn-salvar-aluno {
    background-color: var(--primary-blue) !important;
    color: var(--color-white);
    margin-top: 20px;
    margin-bottom: 20px;
}

#remove-foto {
    color: var(--primary-blue) !important;
}

#formulario-cadastro .row,
#titulo-dados-aluno {
    margin-bottom: 20px;
}

#titulo-dados-aluno {
    padding: 0;
}

#imagem-perfil img{
    border-radius: 5%;
    border: 1px solid rgb(102, 98, 98);
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
}

#imagem-perfil p{
    margin: 5px;
}

.mensagem-erro{
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(185, 49, 49);
}

.card-header {
    background-color: white;
}
