<div id="sidebar">
    <nav class="nav-sidebar">
        <ul class="list-unstyled components" id="op-sidebar">
            <li>
                <a class="navlink" routerLink="" id="linkInicio">
                    <span class="material-icons md-24">dashboard</span>
                    <span class="texto-menu">Início</span>
                </a>
            </li>
            <li>
                <a class="navlink" routerLink="" id="linkInvestigacoes">
                    <span class="material-icons md-24">groups</span>
                    <span class="texto-menu">Alunos</span>
                </a>
            </li>
        </ul>
    </nav>
</div>