:root {
  --primary-blue: #0f4c75;
  --secondary-blue: #3282b8;
  --color-white: #fff;
  --color-red: #8f202d;
  --color-blue-light: #cfebfe;
  --background-grey: #eaeaea;
  --background-grey-light: #eeeeee;
  --background-dropdown-active: #e4f2fa;
  --border-grey: #a1a1a1;
  --border-red: #9b2936;
}
