<div class="modal-contant">
    <div class="container-fluid" id="modal-content">
        <div class="row">
            <div class="col-md-11">
                <p class="text-center" id="titulo-modal">Aluno</p>
            </div>
            <div class="col-md-1">
                <button type="button" id="close" class="close text-center" aria-label="Close" (click)="activeModal.dismiss()">
                    <span aria-hidden="true" id="times_icon"><i class="fas fa-times"></i></span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="row align-middle">
                <div class="col-6">
                    <div class="row">
                        <label>Nome</label>
                        <input class="form-control" value="{{aluno.nome}} {{aluno.sobrenome}}" [disabled]="true" style="margin-right: 10px; margin-left: 10px">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Cadastro</label>
                            <input class="form-control" value="{{ aluno.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}" [disabled]="true">
                        </div>
                        <div class="col-6">
                            <label>Ultima Atualização</label>
                            <input class="form-control" value="{{ aluno.dataUltimaAtualizacao | date: 'dd/MM/yyyy HH:mm' }}" [disabled]="true">
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center" id="imagem-perfil">
                    <img *ngIf="imagemPerfil == null" src="/assets/img/default-perfil.png" alt="Foto de perfil">
                    <img *ngIf="imagemPerfil != null" src="{{imagemPerfilURL}}" alt="Foto de perfil">
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <label>Rua</label>
                    <input class="form-control" value="{{aluno.endereco.rua}}" [disabled]="true">
                </div>
                <div class="col-2">
                    <label>Número</label>
                    <input class="form-control" value="{{aluno.endereco.numero}}" [disabled]="true">
                </div>
                <div class="col-5">
                    <label>Complemento</label>
                    <input class="form-control" value="{{aluno.endereco.complemento}}" [disabled]="true">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Bairro</label>
                    <input class="form-control" value="{{aluno.endereco.bairro}}" [disabled]="true">
                </div>
                <div class="col-3">
                    <label>CEP</label>
                    <input class="form-control" value="{{aluno.endereco.cep}}" [disabled]="true">
                </div>
                <div class="col-3">
                    <label>Cidade</label>
                    <input class="form-control" value="{{aluno.endereco.cidade}}" [disabled]="true">
                </div>
                <div class="col-2">
                    <label>UF</label>
                    <input class="form-control" value="{{aluno.endereco.estado}}" [disabled]="true">
                </div>
            </div>
        </div>
    </div>
</div>